# Second Data Cleaning

## Import libraries and read .csv file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
df0 = pd.read_csv("datasets/Data2019_PostalCodes-blinded.csv")

C:\Users\david\AppData\Local\Temp\ipykernel_19496\79250266.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv("datasets/Data2019_PostalCodes-blinded.csv")

In [3]:
df = df0.copy()

Information of the dataset

In [4]:
df.columns

Index(['Date', 'Booking ID', 'Requested Pickup Time', 'Week Day', 'Provider',
       'Vehicle Type', 'Run', 'Space Type', 'Ambulatory', 'Origin Postal code',
       'Pickup Arrival Time', 'Pickup Departure Time',
       'Destination Postal code', 'Dropoff Arrival Time',
       'Dropoff Departure Time', 'Trip Count'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806712 entries, 0 to 806711
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Date                     806712 non-null  object
 1   Booking ID               806712 non-null  int64
 2   Requested Pickup Time    806712 non-null  object
 3   Week Day                 806712 non-null  int64
 4   Provider                 806712 non-null  object
 5   Vehicle Type             806712 non-null  object
 6   Run                      716638 non-null  object
 7   Space Type               806712 non-null  object
 8   Ambulatory               806712 non-null  object
 9   Origin Postal code       786114 non-null  object
 10  Pickup Arrival Time      790738 non-null  object
 11  Pickup Departure Time    787011 non-null  object
 12  Destination Postal code  784964 non-null  object
 13  Dropoff Arrival Time     789116 non-null  object
 14  Dropoff Departure Time   786636 non-null  object
 15  Trip Count               806712 non-null  int64
dtypes: int64(3), object(13)
memory usage: 98.5+ MB

## Date
The scheduled date of the trip

The Date field should has the format '%Y-%m-%d' instead '%Y-%m-%d %H:%M:%S'

In [6]:
df['Date']

0         2019-01-01 00:00:00
1         2019-01-01 00:00:00
2         2019-01-01 00:00:00
3         2019-01-01 00:00:00
4         2019-01-01 00:00:00
                 ...
806707    2019-12-30 00:00:00
806708    2019-12-30 00:00:00
806709    2019-12-31 00:00:00
806710    2019-07-25 00:00:00
806711    2019-11-07 00:00:00
Name: Date, Length: 806712, dtype: object

The characters "ï»¿" at the beginning of the string are not visible but could be a Byte Order Mark (BOM) that can appear when working with text files encoded with UTF-8.

In [7]:
df['Date'] = df['Date'].str.replace('\ufeff', '') # remove BOM
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.date

In [8]:
df['Date']

0         2019-01-01
1         2019-01-01
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
806707    2019-12-30
806708    2019-12-30
806709    2019-12-31
806710    2019-07-25
806711    2019-11-07
Name: Date, Length: 806712, dtype: object

## Booking ID
Unique Number - one ID per client, however, it can include their personal care attendent.

First we check if there are repeated Booking ID.

In [9]:
df['Booking ID'].is_unique

False

In [10]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Date, Booking ID, Requested Pickup Time, Week Day, Provider, Vehicle Type, Run, Space Type, Ambulatory, Origin Postal code, Pickup Arrival Time, Pickup Departure Time, Destination Postal code, Dropoff Arrival Time, Dropoff Departure Time, Trip Count]
Index: []

Print the duplicates

In [11]:
duplicates = df[df.duplicated(['Booking ID'],keep=False)]
duplicates.shape

(123689, 16)

In [12]:
duplicates

,Date,Booking ID,Requested Pickup Time,Week Day,Provider,Vehicle Type,Run,Space Type,Ambulatory,Origin Postal code,Pickup Arrival Time,Pickup Departure Time,Destination Postal code,Dropoff Arrival Time,Dropoff Departure Time,Trip Count
16,2019-01-02,10736161,100000,3,HCAB,VAN 2WK,TV104,AM,Y,L9A 2W3,09:52:14:545,09:57:39:703,L9K1P6,10:08:54:957,10:10:07:707,2
17,2019-01-02,10736161,100000,3,HCAB,VAN 2WK,TV104,WK,Y,L9A 2W3,09:52:14:545,09:57:39:703,L9K1P6,10:08:54:957,10:10:07:707,2
18,2019-01-02,10736163,113000,3,HTOWN,HTOWN VAN,HV113,AM,Y,L9K1P6,11:16:43:634,11:19:54:617,L9A 2W3,11:29:37:416,11:29:37:416,2
19,2019-01-02,10736163,113000,3,HTOWN,HTOWN VAN,HV113,WK,Y,L9K1P6,11:16:43:634,11:19:54:617,L9A 2W3,11:29:37:416,11:29:37:416,2
123,2019-01-02,10703167,83000,3,DARTS,Low Floor Wide extra seats/OBS,NaN,AM,Y,L8H 1B3,08:22:58:084,08:25:08:267,NaN,08:36:57:267,08:40:29:212,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806655,2019-12-17,11889824,130000,2,HTOWN,HTOWN VAN,HV102,WK,Y,L9H5G3,13:03:38:610,13:04:40:610,NaN,13:24:06:980,13:27:16:122,2
806673,2019-12-22,11910209,153000,7,VETS,MVNSE,VM615,AM,Y,L8H5H3,15:11:30:570,15:19:15:719,NaN,15:44:10:570,15:44:10:570,2
806674,2019-12-22,11910209,153000,7,VETS,MVNSE,VM615,WC,N,L8H5H3,15:11:30:570,15:19:15:719,NaN,15:44:10:570,15:44:10:570,2
806692,2019-12-25,11931490,111500,3,CMARVEL,CMARVEL VAN,NaN,AM,Y,L8L4S3,11:21:14:691,11:27:38:849,NaN,11:35:19:019,11:37:19:099,2
806693,2019-12-25,11931490,111500,3,CMARVEL,CMARVEL VAN,NaN,WK,Y,L8L4S3,11:21:14:691,11:27:38:849,NaN,11:35:19:019,11:37:19:099,2

In [13]:
duplicates.sort_values('Booking ID')

,Date,Booking ID,Requested Pickup Time,Week Day,Provider,Vehicle Type,Run,Space Type,Ambulatory,Origin Postal code,Pickup Arrival Time,Pickup Departure Time,Destination Postal code,Dropoff Arrival Time,Dropoff Departure Time,Trip Count
2889,2019-01-02,10698311,100000,3,DARTS,MVNSE,DM703A,WC,N,L8L 2R3,09:58:40:877,10:04:07:109,L8N4A6,10:12:09:538,10:13:24:545,2
2888,2019-01-02,10698311,100000,3,DARTS,MVNSE,DM703A,AM,Y,L8L 2R3,09:58:40:877,10:04:07:109,L8N4A6,10:12:09:538,10:13:24:545,2
26389,2019-01-02,10698312,134000,3,DARTS,DARTS PROMASTER27,NaN,WC,N,L8N4A6,13:51:00:291,13:52:18:919,L8L 2R3,14:03:18:263,14:03:18:263,2
26388,2019-01-02,10698312,134000,3,DARTS,DARTS PROMASTER27,NaN,AM,Y,L8N4A6,13:51:00:291,13:52:18:919,L8L 2R3,14:03:18:263,14:03:18:263,2
2891,2019-01-02,10698593,123000,3,VETS,VAN 2WK,VV610,WK,Y,L8T 4T5,12:24:28:845,12:26:39:834,L8N4A6,12:41:47:769,12:41:47:769,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802206,2019-12-31,11951761,210000,2,DARTS,Low Floor Wide extra seats/OBS,NaN,WC,N,L9C5V7,21:10:14:192,21:17:08:399,L9C2T9,21:27:33:766,21:29:08:771,2
797784,2019-12-31,11951790,214500,2,DARTS,Low Floor Wide extra seats/OBS,NaN,AM,Y,L8P2L5,21:52:13:498,21:58:58:639,L8R 2L3,22:11:09:048,22:13:14:084,2
797785,2019-12-31,11951790,214500,2,DARTS,Low Floor Wide extra seats/OBS,NaN,EW,N,L8P2L5,21:52:13:498,21:58:58:639,L8R 2L3,22:11:09:048,22:13:14:084,2
82662,2019-02-02,12796381,131500,6,HTOWN,HTOWN VAN,HV100,WK,Y,L8L7K7,NaN,NaN,L8E2P2,NaN,NaN,2
82661,2019-02-02,12796381,131500,6,HTOWN,HTOWN VAN,HV100,AM,Y,L8L7K7,NaN,NaN,L8E2P2,NaN,NaN,2

In [14]:
df.columns

Index(['Date', 'Booking ID', 'Requested Pickup Time', 'Week Day', 'Provider',
       'Vehicle Type', 'Run', 'Space Type', 'Ambulatory', 'Origin Postal code',
       'Pickup Arrival Time', 'Pickup Departure Time',
       'Destination Postal code', 'Dropoff Arrival Time',
       'Dropoff Departure Time', 'Trip Count'],
      dtype='object')

## Requested Pickup Time
Driver can arrive 15 min before or after this time

In [15]:
df.columns

Index(['Date', 'Booking ID', 'Requested Pickup Time', 'Week Day', 'Provider',
       'Vehicle Type', 'Run', 'Space Type', 'Ambulatory', 'Origin Postal code',
       'Pickup Arrival Time', 'Pickup Departure Time',
       'Destination Postal code', 'Dropoff Arrival Time',
       'Dropoff Departure Time', 'Trip Count'],
      dtype='object')

In [16]:
time_array = ['Requested Pickup Time', 'Pickup Arrival Time', 'Pickup Departure Time', 'Dropoff Arrival Time', 'Dropoff Departure Time']
df[time_array]

,Requested Pickup Time,Pickup Arrival Time,Pickup Departure Time,Dropoff Arrival Time,Dropoff Departure Time
0,90000,09:05:20:209,09:06:30:173,09:19:20:624,09:19:20:624
1,140000,NaN,NaN,13:50:26:060,13:50:26:060
2,120000,12:11:15:518,12:14:00:597,12:29:45:163,12:36:24:428
3,100000,09:29:30:002,09:31:30:075,09:54:04:931,09:54:04:931
4,130000,12:52:35:936,12:52:35:936,12:52:35:936,12:55:25:064
...,...,...,...,...,...
806707,123000,12:29:29:927,12:29:29:927,13:17:25:430,13:18:30:476
806708,123000,12:35:30:248,12:38:50:329,12:54:54:740,12:56:04:865
806709,110000,10:59:52:367,11:00:57:425,11:17:08:192,11:17:08:192
806710,120000,12:05:56:324,12:07:07:320,12:18:01:671,12:19:04:806
806711,140000,13:47:36:662,13:48:47:211,14:02:46:395,14:05:01:487

In [17]:
df = df0.copy()

In [18]:
# Convert the 'time' column to datetime format
df['Requested Pickup Time'] = pd.to_datetime(df['Requested Pickup Time'],errors='coerce', format='%H%M%S')

In [19]:
for field in time_array:
    print(field)
    # Convert the 'time' column to datetime format
    df[field] = pd.to_datetime(df[field],errors='coerce', format='%H:%M:%S:%f')

    # Format the datetime objects into strings with the desired format
    df[field] = df[field].dt.strftime('%H:%M')

Requested Pickup Time
Pickup Arrival Time
Pickup Departure Time
Dropoff Arrival Time
Dropoff Departure Time

In [20]:
df[time_array]

,Requested Pickup Time,Pickup Arrival Time,Pickup Departure Time,Dropoff Arrival Time,Dropoff Departure Time
0,09:00,09:05,09:06,09:19,09:19
1,14:00,NaN,NaN,13:50,13:50
2,12:00,12:11,12:14,12:29,12:36
3,10:00,09:29,09:31,09:54,09:54
4,13:00,12:52,12:52,12:52,12:55
...,...,...,...,...,...
806707,12:30,12:29,12:29,13:17,13:18
806708,12:30,12:35,12:38,12:54,12:56
806709,11:00,10:59,11:00,11:17,11:17
806710,12:00,12:05,12:07,12:18,12:19
806711,14:00,13:47,13:48,14:02,14:05

## Week Day
Monday 01 through Sunday 07

## Provider
Name of the 3rd Party

## Vehicle Type
Vehicle Type

## Run
Run assigments created daily through the scheduling software

## Space Type
See Code Table Below

## Ambulatory
Yes = Ambulatory / No = Non-Ambulatory

## Origin Postal code
Where the client is pick up
- Origin1 First 3 characters of the postal code
- Origin2 Last 3 characters of the postal code

## Pickup Arrival Time
Actual time driver arrives
## Pickup Departure Time
Time it takes for the passenger to board the vehicle

## Destination Postal code
Where the client is dropped off
## Destination1
## Destination2

## Dropoff Arrival Time
The time the vehicle arrives at the destination
## Dropoff Departure Time
The time it takes the client to alight

## Trip Count
\# of passengers