# Second Data Cleaning

## Import libraries and read .csv file

In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [68]:
#df0 = pd.read_csv("datasets/Data2019_PostalCodes-blinded.csv")
#df0 = pd.read_csv("datasets/data_clean1_2019.csv")
df0 = pd.read_csv("datasets/data_clean1NO2019.csv")

C:\Users\david\AppData\Local\Temp\ipykernel_32780\4121937686.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv("datasets/data_clean1NO2019.csv")

In [69]:
df = df0.copy()

Information of the dataset

In [70]:
df.columns

Index(['Date', 'Booking ID', 'Requested Pickup Time', 'Week Day', 'Provider',
       'Vehicle Type', 'Run', 'Space Type', 'Ambulatory', 'Origin Postal code',
       'Pickup Arrival Time', 'Pickup Departure Time',
       'Destination Postal code', 'Dropoff Arrival Time',
       'Dropoff Departure Time', 'Trip Count', 'Origin1', 'Origin2',
       'Destination1', 'Destination2'],
      dtype='object')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806712 entries, 0 to 806711
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Date                     806712 non-null  object
 1   Booking ID               806712 non-null  int64
 2   Requested Pickup Time    806712 non-null  object
 3   Week Day                 806712 non-null  int64
 4   Provider                 806712 non-null  object
 5   Vehicle Type             806712 non-null  object
 6   Run                      716638 non-null  object
 7   Space Type               806712 non-null  object
 8   Ambulatory               806712 non-null  object
 9   Origin Postal code       806712 non-null  object
 10  Pickup Arrival Time      790738 non-null  object
 11  Pickup Departure Time    787011 non-null  object
 12  Destination Postal code  806712 non-null  object
 13  Dropoff Arrival Time     789116 non-null  object
 14  Dropoff Departure Time   786636 non-null  object
 15  Trip Count               806712 non-null  int64
 16  Origin1                  786114 non-null  object
 17  Origin2                  785953 non-null  object
 18  Destination1             784964 non-null  object
 19  Destination2             784804 non-null  object
dtypes: int64(3), object(17)
memory usage: 123.1+ MB

## Date
The scheduled date of the trip

The Date field should has the format '%Y-%m-%d' instead '%Y-%m-%d %H:%M:%S'

In [72]:
df['Date']

0         2019-01-01 00:00:00
1         2019-01-01 00:00:00
2         2019-01-01 00:00:00
3         2019-01-01 00:00:00
4         2019-01-01 00:00:00
                 ...
806707    2019-12-30 00:00:00
806708    2019-12-30 00:00:00
806709    2019-12-31 00:00:00
806710    2019-07-25 00:00:00
806711    2019-11-07 00:00:00
Name: Date, Length: 806712, dtype: object

The characters "﻿" at the beginning of the string are not visible but could be a Byte Order Mark (BOM) that can appear when working with text files encoded with UTF-8.

In [73]:
df['Date'] = df['Date'].str.replace('\ufeff', '') # remove BOM
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.date

In [74]:
df['Date']

0         2019-01-01
1         2019-01-01
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
806707    2019-12-30
806708    2019-12-30
806709    2019-12-31
806710    2019-07-25
806711    2019-11-07
Name: Date, Length: 806712, dtype: object

## Booking ID
Unique Number - one ID per client, however, it can include their personal care attendent.

First we check if there are repeated Booking ID.

In [75]:
df['Booking ID'].is_unique

False

In [76]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Date, Booking ID, Requested Pickup Time, Week Day, Provider, Vehicle Type, Run, Space Type, Ambulatory, Origin Postal code, Pickup Arrival Time, Pickup Departure Time, Destination Postal code, Dropoff Arrival Time, Dropoff Departure Time, Trip Count, Origin1, Origin2, Destination1, Destination2]
Index: []

Print the duplicates

In [77]:
duplicates = df[df.duplicated(['Booking ID'],keep=False)]
duplicates.shape

(123689, 20)

In [78]:
duplicates

,Date,Booking ID,Requested Pickup Time,Week Day,Provider,Vehicle Type,Run,Space Type,Ambulatory,Origin Postal code,Pickup Arrival Time,Pickup Departure Time,Destination Postal code,Dropoff Arrival Time,Dropoff Departure Time,Trip Count,Origin1,Origin2,Destination1,Destination2
16,2019-01-02,10736161,100000,3,HCAB,VAN 2WK,TV104,AM,Y,L9A 2W3,09:52:14:545,09:57:39:703,L9K 1P6,10:08:54:957,10:10:07:707,2,L9A,2W3,L9K,1P6
17,2019-01-02,10736161,100000,3,HCAB,VAN 2WK,TV104,WK,Y,L9A 2W3,09:52:14:545,09:57:39:703,L9K 1P6,10:08:54:957,10:10:07:707,2,L9A,2W3,L9K,1P6
18,2019-01-02,10736163,113000,3,HTOWN,HTOWN VAN,HV113,AM,Y,L9K 1P6,11:16:43:634,11:19:54:617,L9A 2W3,11:29:37:416,11:29:37:416,2,L9K,1P6,L9A,2W3
19,2019-01-02,10736163,113000,3,HTOWN,HTOWN VAN,HV113,WK,Y,L9K 1P6,11:16:43:634,11:19:54:617,L9A 2W3,11:29:37:416,11:29:37:416,2,L9K,1P6,L9A,2W3
123,2019-01-02,10703167,83000,3,DARTS,Low Floor Wide extra seats/OBS,NaN,AM,Y,L8H 1B3,08:22:58:084,08:25:08:267,nan,08:36:57:267,08:40:29:212,2,L8H,1B3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806655,2019-12-17,11889824,130000,2,HTOWN,HTOWN VAN,HV102,WK,Y,L9H 5G3,13:03:38:610,13:04:40:610,nan,13:24:06:980,13:27:16:122,2,L9H,5G3,NaN,NaN
806673,2019-12-22,11910209,153000,7,VETS,MVNSE,VM615,AM,Y,L8H 5H3,15:11:30:570,15:19:15:719,nan,15:44:10:570,15:44:10:570,2,L8H,5H3,NaN,NaN
806674,2019-12-22,11910209,153000,7,VETS,MVNSE,VM615,WC,N,L8H 5H3,15:11:30:570,15:19:15:719,nan,15:44:10:570,15:44:10:570,2,L8H,5H3,NaN,NaN
806692,2019-12-25,11931490,111500,3,CMARVEL,CMARVEL VAN,NaN,AM,Y,L8L 4S3,11:21:14:691,11:27:38:849,nan,11:35:19:019,11:37:19:099,2,L8L,4S3,NaN,NaN
806693,2019-12-25,11931490,111500,3,CMARVEL,CMARVEL VAN,NaN,WK,Y,L8L 4S3,11:21:14:691,11:27:38:849,nan,11:35:19:019,11:37:19:099,2,L8L,4S3,NaN,NaN

In [79]:
duplicates.sort_values('Booking ID')

,Date,Booking ID,Requested Pickup Time,Week Day,Provider,Vehicle Type,Run,Space Type,Ambulatory,Origin Postal code,Pickup Arrival Time,Pickup Departure Time,Destination Postal code,Dropoff Arrival Time,Dropoff Departure Time,Trip Count,Origin1,Origin2,Destination1,Destination2
2889,2019-01-02,10698311,100000,3,DARTS,MVNSE,DM703A,WC,N,L8L 2R3,09:58:40:877,10:04:07:109,L8N 4A6,10:12:09:538,10:13:24:545,2,L8L,2R3,L8N,4A6
2888,2019-01-02,10698311,100000,3,DARTS,MVNSE,DM703A,AM,Y,L8L 2R3,09:58:40:877,10:04:07:109,L8N 4A6,10:12:09:538,10:13:24:545,2,L8L,2R3,L8N,4A6
26389,2019-01-02,10698312,134000,3,DARTS,DARTS PROMASTER27,NaN,WC,N,L8N 4A6,13:51:00:291,13:52:18:919,L8L 2R3,14:03:18:263,14:03:18:263,2,L8N,4A6,L8L,2R3
26388,2019-01-02,10698312,134000,3,DARTS,DARTS PROMASTER27,NaN,AM,Y,L8N 4A6,13:51:00:291,13:52:18:919,L8L 2R3,14:03:18:263,14:03:18:263,2,L8N,4A6,L8L,2R3
2891,2019-01-02,10698593,123000,3,VETS,VAN 2WK,VV610,WK,Y,L8T 4T5,12:24:28:845,12:26:39:834,L8N 4A6,12:41:47:769,12:41:47:769,2,L8T,4T5,L8N,4A6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802206,2019-12-31,11951761,210000,2,DARTS,Low Floor Wide extra seats/OBS,NaN,WC,N,L9C 5V7,21:10:14:192,21:17:08:399,L9C 2T9,21:27:33:766,21:29:08:771,2,L9C,5V7,L9C,2T9
797784,2019-12-31,11951790,214500,2,DARTS,Low Floor Wide extra seats/OBS,NaN,AM,Y,L8P 2L5,21:52:13:498,21:58:58:639,L8R 2L3,22:11:09:048,22:13:14:084,2,L8P,2L5,L8R,2L3
797785,2019-12-31,11951790,214500,2,DARTS,Low Floor Wide extra seats/OBS,NaN,EW,N,L8P 2L5,21:52:13:498,21:58:58:639,L8R 2L3,22:11:09:048,22:13:14:084,2,L8P,2L5,L8R,2L3
82662,2019-02-02,12796381,131500,6,HTOWN,HTOWN VAN,HV100,WK,Y,L8L 7K7,NaN,NaN,L8E 2P2,NaN,NaN,2,L8L,7K7,L8E,2P2
82661,2019-02-02,12796381,131500,6,HTOWN,HTOWN VAN,HV100,AM,Y,L8L 7K7,NaN,NaN,L8E 2P2,NaN,NaN,2,L8L,7K7,L8E,2P2

## Time fields
- Requested Pickup Time: Driver can arrive 15 min before or after this time
- Pickup Arrival Time: Actual time driver arrives
- Pickup Departure Time: Time it takes for the passenger to board the 
- Dropoff Arrival Time: The time the vehicle arrives at the destination
- Dropoff Departure Time: The time it takes the client to alight

In [80]:
time_array = ['Requested Pickup Time', 'Pickup Arrival Time', 'Pickup Departure Time', 'Dropoff Arrival Time', 'Dropoff Departure Time']
df[time_array]

,Requested Pickup Time,Pickup Arrival Time,Pickup Departure Time,Dropoff Arrival Time,Dropoff Departure Time
0,90000,09:05:20:209,09:06:30:173,09:19:20:624,09:19:20:624
1,140000,NaN,NaN,13:50:26:060,13:50:26:060
2,120000,12:11:15:518,12:14:00:597,12:29:45:163,12:36:24:428
3,100000,09:29:30:002,09:31:30:075,09:54:04:931,09:54:04:931
4,130000,12:52:35:936,12:52:35:936,12:52:35:936,12:55:25:064
...,...,...,...,...,...
806707,123000,12:29:29:927,12:29:29:927,13:17:25:430,13:18:30:476
806708,123000,12:35:30:248,12:38:50:329,12:54:54:740,12:56:04:865
806709,110000,10:59:52:367,11:00:57:425,11:17:08:192,11:17:08:192
806710,120000,12:05:56:324,12:07:07:320,12:18:01:671,12:19:04:806
806711,140000,13:47:36:662,13:48:47:211,14:02:46:395,14:05:01:487

In [81]:
df = df0.copy()

In [82]:
# Convert the 'time' column to datetime format
df['Requested Pickup Time'] = pd.to_datetime(df['Requested Pickup Time'],errors='coerce', format='%H%M%S')

In [83]:
for field in time_array:
    print(field)
    # Convert the 'time' column to datetime format
    df[field] = pd.to_datetime(df[field],errors='coerce', format='%H:%M:%S:%f')

    # Format the datetime objects into strings with the desired format
    df[field] = df[field].dt.strftime('%H:%M')

Requested Pickup Time
Pickup Arrival Time
Pickup Departure Time
Dropoff Arrival Time
Dropoff Departure Time

In [84]:
df[time_array]

,Requested Pickup Time,Pickup Arrival Time,Pickup Departure Time,Dropoff Arrival Time,Dropoff Departure Time
0,09:00,09:05,09:06,09:19,09:19
1,14:00,NaN,NaN,13:50,13:50
2,12:00,12:11,12:14,12:29,12:36
3,10:00,09:29,09:31,09:54,09:54
4,13:00,12:52,12:52,12:52,12:55
...,...,...,...,...,...
806707,12:30,12:29,12:29,13:17,13:18
806708,12:30,12:35,12:38,12:54,12:56
806709,11:00,10:59,11:00,11:17,11:17
806710,12:00,12:05,12:07,12:18,12:19
806711,14:00,13:47,13:48,14:02,14:05

## Week Day
Monday 01 through Sunday 07

In [85]:
print(df['Week Day'].isnull().value_counts())
print(df['Week Day'].value_counts())

False    806712
Name: Week Day, dtype: int64
4    155581
2    153150
3    149256
5    141494
1    124878
7     41873
6     40480
Name: Week Day, dtype: int64

## Provider
Name of the 3rd Party

In [86]:
print(df['Provider'].isnull().value_counts())
print(df['Provider'].value_counts())

False    806712
Name: Provider, dtype: int64
DARTS      312369
VETS       243889
HTOWN      216205
HCAB        20530
CMARVEL     13719
Name: Provider, dtype: int64

## Vehicle Type
Vehicle Type

In [87]:
print(df['Vehicle Type'].isnull().value_counts())
print(df['Vehicle Type'].value_counts())

False    806712
Name: Vehicle Type, dtype: int64
 VAN 2WK                          235390
HTOWN VAN                         215969
MVNSE                             103085
DARTS PROMASTER27                  67590
DARTS Low Floor Van                48305
Low Floor Wide extra seats/OBS     34481
 DARTS PROMASTER24                 33751
DARTS SIENNA                       29606
DARTS PROMASTER EXTENDED           18855
CMARVEL VAN                        13719
taxi                                5338
MV                                   236
HRISING SIENNA                       236
LOW FLOOR SPIRIT                      80
Vets Low Floor 1                      71
Name: Vehicle Type, dtype: int64

## Run
Run assigments created daily through the scheduling software

In [88]:
print(df['Run'].isnull().value_counts())
print(df['Run'].value_counts())

False    716638
True      90074
Name: Run, dtype: int64
HV102     7891
HV104     7722
HV101     7717
HV103     7549
HV105     7433
          ...
DS713        7
DS711A       7
VV412        4
DP736        2
DM727        1
Name: Run, Length: 400, dtype: int64

## Space Type
See Code Table Below

In [89]:
print(df['Space Type'].isnull().value_counts())
print(df['Space Type'].value_counts())

False    806712
Name: Space Type, dtype: int64
AM    411609
WK    238869
WC     94794
EW     29456
OW     18648
SC      5018
BB      1818
GD      1732
OS      1617
XA      1591
AW       785
ST       721
MD        30
N/        18
SA         6
Name: Space Type, dtype: int64

## Ambulatory
Yes = Ambulatory / No = Non-Ambulatory

In [90]:
print(df['Ambulatory'].isnull().value_counts())
print(df['Ambulatory'].value_counts())

False    806712
Name: Ambulatory, dtype: int64
Y    657131
N    149581
Name: Ambulatory, dtype: int64

## Origin Postal code
Where the client is pick up
- Origin1 First 3 characters of the postal code
- Origin2 Last 3 characters of the postal code

In [91]:
print(df['Origin Postal code'].isnull().value_counts())
print(df['Origin Postal code'].value_counts())

False    806712
Name: Origin Postal code, dtype: int64
nan        20598
L8G 5E4    17886
L8N 4A6    17482
L9H 5G7    12547
L8L 3B1     9630
           ...
L8K 4M9        1
L8E 5L2        1
L8P 1N3        1
L8W 3S2        1
L8V 3L1        1
Name: Origin Postal code, Length: 5401, dtype: int64

In [92]:
print(df['Origin1'].isnull().value_counts())
print(df['Origin1'].value_counts())

False    786114
True      20598
Name: Origin1, dtype: int64
L9C    76553
L8L    63769
L9H    59560
L8G    47372
L8V    46504
       ...
LPC        1
LHR        1
L2N        1
L9P        1
L7L        1
Name: Origin1, Length: 63, dtype: int64

In [93]:
print(df['Origin2'].isnull().value_counts())
print(df['Origin2'].value_counts())

False    785953
True      20759
Name: Origin2, dtype: int64
5E4    18785
4A6    18277
5G7    12686
3B1    10651
1Y6     9992
       ...
1R3        1
6W7        1
2          1
6S5        1
7L6        1
Name: Origin2, Length: 1325, dtype: int64

## Destination Postal code
Where the client is dropped off
- Destination1 First 3 characters of the postal code
- Destination2 Last 3 characters of the postal code

In [94]:
print(df['Destination Postal code'].isnull().value_counts())
print(df['Destination Postal code'].value_counts())

False    806712
Name: Destination Postal code, dtype: int64
nan        21748
L8G 5E4    19357
L8N 4A6    18801
L9H 5G7    12266
L8R 1Y6     9637
           ...
L8B 1J3        1
L9A 4J3        1
L9A 2K4        1
L8W 3M9        1
L9H 5P8        1
Name: Destination Postal code, Length: 5587, dtype: int64

In [95]:
print(df['Destination1'].isnull().value_counts())
print(df['Destination1'].value_counts())

False    784964
True      21748
Name: Destination1, dtype: int64
L9C    77433
L8L    63458
L9H    59827
L8G    48934
L8V    45927
       ...
NOB        2
L8X        2
LPC        1
L2N        1
L8C        1
Name: Destination1, Length: 62, dtype: int64

In [96]:
print(df['Destination2'].isnull().value_counts())
print(df['Destination2'].value_counts())

False    784804
True      21908
Name: Destination2, dtype: int64
5E4    20305
4A6    19605
5G7    12398
3B1    10150
1Y6    10092
       ...
5PC        1
7K4        1
5T2        1
7L6        1
5P8        1
Name: Destination2, Length: 1330, dtype: int64

## Postal Code formats
- Origin1
- Origin2
- Destination1
- Destination2

In [97]:
df.columns

Index(['Date', 'Booking ID', 'Requested Pickup Time', 'Week Day', 'Provider',
       'Vehicle Type', 'Run', 'Space Type', 'Ambulatory', 'Origin Postal code',
       'Pickup Arrival Time', 'Pickup Departure Time',
       'Destination Postal code', 'Dropoff Arrival Time',
       'Dropoff Departure Time', 'Trip Count', 'Origin1', 'Origin2',
       'Destination1', 'Destination2'],
      dtype='object')

In [98]:
postal_array =['Origin Postal code','Origin1','Origin2','Destination Postal code','Destination1','Destination2']
postal_array1 = ['Origin1','Destination1']
postal_array2 = ['Origin2','Destination2']
print(df[postal_array1])
print(df[postal_array2])

       Origin1 Destination1
0          L9C          L8M
1          L8M          L9C
2          L9C          L8M
3          L9G          L8M
4          L9H          L9H
...        ...          ...
806707     L8G          NaN
806708     L9B          NaN
806709     L8L          NaN
806710     NaN          NaN
806711     NaN          NaN

[806712 rows x 2 columns]
       Origin2 Destination2
0          5W5          1W9
1          1W9          5W5
2          5H2          1W9
3          0C1          1W9
4          3R6          3B7
...        ...          ...
806707     5E4          NaN
806708     1K3          NaN
806709     2K1          NaN
806710     NaN          NaN
806711     NaN          NaN

[806712 rows x 2 columns]

In [99]:
# define regex patterns to match the format and capture the match (3R6 3B7)
pattern1 = r'^([A-Za-z]\d[A-Za-z])$'
pattern2 = r'^(\d[A-Za-z]\d)$'
# use pandas str.extract method to extract the capture group and return NaN for all other values
for code in postal_array1:
    df[code] = df[code].str.extract(pattern1, expand=False).fillna(np.nan)

for code in postal_array2:
    df[code] = df[code].str.extract(pattern2, expand=False).fillna(np.nan)

In [102]:
df['Origin Postal code'] = df['Origin1']+df['Origin2']
df['Destination Postal code'] = df['Destination1']+df['Destination2']

In [103]:
df[postal_array]

,Origin Postal code,Origin1,Origin2,Destination Postal code,Destination1,Destination2
0,L9C5W5,L9C,5W5,L8M1W9,L8M,1W9
1,L8M1W9,L8M,1W9,L9C5W5,L9C,5W5
2,L9C5H2,L9C,5H2,L8M1W9,L8M,1W9
3,L9G0C1,L9G,0C1,L8M1W9,L8M,1W9
4,L9H3R6,L9H,3R6,L9H3B7,L9H,3B7
...,...,...,...,...,...,...
806707,L8G5E4,L8G,5E4,NaN,NaN,NaN
806708,L9B1K3,L9B,1K3,NaN,NaN,NaN
806709,L8L2K1,L8L,2K1,NaN,NaN,NaN
806710,NaN,NaN,NaN,NaN,NaN,NaN
806711,NaN,NaN,NaN,NaN,NaN,NaN

## Trip Count
\# of passengers

In [107]:
print(df['Trip Count'].isnull().value_counts())
print(df['Trip Count'].value_counts())

False    806712
Name: Trip Count, dtype: int64
1     654202
2     141950
3       5692
4       2472
5       1315
6        815
7        173
8         77
9          6
15         5
10         5
Name: Trip Count, dtype: int64

## Export data

In [104]:
df.to_csv('datasets/data_clean2_2019.csv', index = False)